$border-color: #eff2f7;



.hover-border {
  & input:focus {
    border: 1px solid $border-color !important;
  }
  & select:active {
    border: 1px solid $border-color !important;
  }
}

.hover-border:hover .full-text{
  border: 1px solid $border-color !important;
}

