/* You can add global styles to this file, and also import other style files */
@import "~@swimlane/ngx-datatable/index.css";
$ngx-datatable-box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.12) !default;
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";



.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}
@keyframes example {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.flex-even {
  flex: 1;
}

@media (hover: hover) {
  .hover-target {
    visibility: hidden;
    opacity: 0;
  }
  .hover-host:hover .hover-target {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}
