<ng-template #moveProductModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Move Product to Another Place</h4>
        <button type="button" class="btn btn-outline-secondary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="moveProductForm">
            <div class="form-group">
                <label class="form-label text-dark" for="info-box">Stock details </label><br>
                <app-info-box> {{ getStockDetail() }} </app-info-box>
            </div>

            <div class="form-group my-3">
                <label class="form-label text-dark" for="quantity">Quantity <span type="button"
                        class="border border-info rounded-pill bg-info bg-soft">
                        Available: {{selectedStock.quantity?.toFixed(2).concat(' ').concat(selectedStock.unitTxt)}}
                    </span> </label>
                <input type="number" class="form-control" id="quantity" formControlName="quantity" onlyNumber />
                <span class="text-monospace text-danger"> {{ util.getValidationError(moveProductForm, "quantity") }}
                </span>
            </div>

            <div class="form-group my-3">
                <label class="form-label text-dark" for="unit">Unit </label>
                <select class="form-control" id="unit" formControlName="unit">
                    <option hidden [ngValue]="null"> Please select </option>
                    <option *ngFor="let unit of unitService.unitData.unitList" [value]="unit.id">{{unit.name}}</option>
                </select>
                <span class="text-monospace text-danger"> {{ util.getValidationError(moveProductForm, "unit") }} </span>
            </div>

            <div class="form-group my-3">
                <label class="form-label text-dark" for="toPlace"> Where to move? </label>
                <select class="form-control" id="toPlace" formControlName="toPlace">
                    <option hidden [ngValue]="null"> Please select </option>
                    <option *ngFor="let place of placeService.placeRecord | keyvalue" [value]="place.key">
                        {{place.value.name}}</option>
                </select>
                <span class="text-monospace text-danger"> {{ util.getValidationError(moveProductForm, "toPlace") }} </span>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!moveProductForm.valid" (click)="move()"> Move
        </button>
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
</ng-template>
