<div class="shadow bg-primary bg-gradient p-3" style="--bs-bg-opacity: .1;">
  <div class="invoice-from">
    <small>from</small>
    <address>
      <strong> {{people.name}} </strong> <br *ngIf="people.name">
      {{ people.companyName }} <br *ngIf="people.companyName">
      {{ people.address }} <br *ngIf="people.address">
      Phone: {{ people.contactNumber }} <br *ngIf="people.contactNumber">
    </address>
  </div>
  <div class="invoice-to">
    <small>to</small>
    <address>
      <strong>ABDULLAH TOOLS</strong><br>
      Nawabpur, Dhaka Tower<br>
      Dhaka, 1000<br>
      Phone: 01704882270
    </address>
  </div>
  <div class="invoice-date">
    <small>Invoice / Buy</small>
    <div class="date">{{purchase.date | date: 'MMM dd, yyyy'}}</div>
    <div>
      #0000123DSS<br>
    </div>
  </div>
</div>
