<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input (input)="getDataForLast('week')" type="radio" class="btn-check" name="btnradio" id="btnradio1"
                    autocomplete="off" [checked]="period==='week'">
                <label class="btn btn-outline-primary" for="btnradio1">Last Week</label>

                <input (input)="getDataForLast('month')" type="radio" class="btn-check" name="btnradio" id="btnradio2"
                    autocomplete="off" [checked]="period==='month'">
                <label class="btn btn-outline-primary" for="btnradio2">Last Month</label>

                <input (input)="getDataForLast('year')" type="radio" class="btn-check" name="btnradio" id="btnradio3"
                    autocomplete="off" [checked]="period==='year'">
                <label class="btn btn-outline-primary" for="btnradio3">Last Year</label>
            </div>
        </div>
        <hr>
        <div class="row g-2">
            <div *ngFor="let chart of chartsMeta | keyvalue: keepOrder" class="col-md-6 p-2 hover-shadow rounded-4">
                <h4 class="text-center text-secondary">{{chart.value.label}}</h4>
                <canvas [id]="chart.key"></canvas>
            </div>
        </div>
    </div>
</div>