
/**starting here**/

$height: 30px;
$width: 50px;
$transition-time: 0.2s;


.switch1 {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  /* Hide checkbox */
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: $transition-time;
  transition: $transition-time;
  border-radius: $height;
}

.slider1::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

.switch1 input:checked + .slider1 {
  background-color: #2196f3;
}

.switch1 input:checked + .slider1:before {
  transform: translatex(19px);
}

.switch1 input:focus + .slider1 {
  box-shadow: 0 0 1px #2196f3;
}
