$border-color: #eff2f7;

@media (hover: hover) {
  .invoice-item:hover .close-btn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .invoice-item .close-btn {
    visibility: hidden;
    opacity: 0;
  }
}

.hover-border {
  & input:focus {
    border: 1px solid $border-color !important;
  }
  & select:active {
    border: 1px solid $border-color !important;
  }
}

.hover-border:hover .full-text{
  border: 1px solid $border-color !important;
}

