<div class="shadow bg-white invoice-item">
  <div class="d-flex">

    <button type="button" class="close-btn btn btn-sm btn-outline-secondary rounded-circle my-auto ms-2">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <!-- <div class="d-flex align-items-stretch">
      <div class="d-flex align-items-center px-2">
        <button type="button" class="close-btn btn btn-sm btn-outline-secondary rounded-circle">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div> -->
    <div class="flex-grow-1 p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-3">
              <span>{{item.product.name}}</span>
            </div>
            <div class="col-3">
              <span>{{item.product.type}}</span>
            </div>
            <div class="col-2">
              <span>{{item.product.brand}}</span>
            </div>
            <div class="col-2">
              <span>{{item.product.country}}</span>
            </div>
            <div class="col-2">
              <span>{{item.product.size}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 hover-border">
              <div class="form-group">
                <select class="form-control p-0 border-0 full-text" name="place" id="place" [(ngModel)]="item.place">
                  <option *ngFor="let place of placeRecord | keyvalue" [value]="place.value.id">
                    {{ place.value.name }}
                </select>
              </div>
            </div>
            <div class="col-3 hover-border">
              <div [hidden]="!editCost" class="input-group">
                <input #costInput [(ngModel)]="item.cost" (focusout)="editCost=!editCost" type="number" onlyNumber
                  (keydown.enter)="costInput.blur()" class="form-control p-0 border-0" name="cost" id="cost"
                  aria-describedby="helpId" required>
              </div>
              <div class="full-text" [hidden]="editCost" (click)="editCost=!editCost;abc(costInput)" *ngIf="!editCost">
                &#2547;{{item.cost.toFixed(2)}}/unit</div>
            </div>

            <div class="col-3 hover-border">
              <div class="d-flex">
                <div class="flex-even" >
                  <div class="form-group">
                    <input #quantityInput type="text" [(ngModel)]="item.quantity" onlyNumber
                      class="form-control p-0 border-0 full-text text-end px-1" name="cost"
                      aria-describedby="helpId" required>
                  </div>
                </div>
                <div class="flex-even" >
                  <div class="form-group">
                    <select class="form-control p-0 border-0 full-text" name="place" id="place" [(ngModel)]="item.unit">
                      <option *ngFor="let unit of unitService.unitData.unitList" [value]="unit.id">
                        {{ unit.name }}
                    </select>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-3">
              {{ (item.quantity * item.cost).toFixed(2) }} &#2547;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
