<app-search-options panelTitle="Search Stock">
  <form (ngSubmit)="searchStock()" #fr="ngForm">
    <div class="row">
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label class="form-label text-dark" for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" maxlength="30" placeholder="Enter product name.."
          [(ngModel)]="searchOptions.name" />
      </div>
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label class="form-label text-dark" for="type">Type</label>
        <input type="text" class="form-control" name="type" id="type" maxlength="30" placeholder="Enter product type.."
          [(ngModel)]="searchOptions.type" />
      </div>
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label class="form-label text-dark" for="brand">Brand</label>
        <input type="text" class="form-control" name="brand" id="brand" maxlength="30"
          placeholder="Enter product brand.." [(ngModel)]="searchOptions.brand" />
      </div>
      <div class="form-group col-md-6 col-lg-4 col-xl-3">
        <label class="form-label text-dark" for="place">Place</label>
        <select id="place" name="placeOption" class="form-select" [(ngModel)]="searchOptions.placeId">
          <option hidden [ngValue]="undefined">
            Please select
          </option>
          <option *ngFor="let place of placeService.placeRecord | keyvalue" [value]="place.value.id">
            {{ place.value.name }}
          </option>
        </select>
      </div>
    </div>

    <hr />

    <div class="d-flex justify-content-end">
      <div>
        <button type="submit" class="btn btn-primary mx-1" [disabled]="!fr.valid">
          Search
        </button>
        <button class="btn btn-secondary ml-1 mr-3" (click)="resetForm()">
          Reset
        </button>
      </div>
    </div>
  </form>
</app-search-options>
<br />
<div class="d-flex bg-white justify-content-end" role="group">
  <button *ngIf="currentMode['report']" type="button" class="btn btn-outline-secondary" [ngbTooltip]="'Download Report'"
    (click)="null">
    <i class="fa fa-download" aria-hidden="true"></i>
  </button>
</div>
<ngx-datatable ngx-resize-watcher class="material" [rows]="stockPage.content" [columns]="columns" [columnMode]="columnMode.force"
  rowHeight="auto" [externalPaging]="true" [count]="stockPage.totalElements" [offset]="stockPage.number" [scrollbarH]="false"
  [loadingIndicator]="isLoading" [footerHeight]="-1" [headerHeight]="-1" [limit]="stockPage.size"
  (activate)="onActivate($event)" (page)="changePage($event)">
  <ngx-datatable-column name="Options">
    <ng-template ngx-datatable-cell-template>
      <button *ngIf="currentMode.move" [ngbTooltip]="'Move to another place'" placement="right"
        class="btn btn-outline-secondary" (click)="mp.openMoveProductModal()">
        <i class="fas fa-route" aria-hidden="true"></i>
      </button>
      <button *ngIf="currentMode.select" [ngbTooltip]="'Select for sale'" placement="right"
        class="btn btn-outline-secondary" (click)="selectStock()">
        <i class="fas fa-plus-square" aria-hidden="true"></i>
      </button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngFor="let column of columns" [name]="column.name" [prop]="column.prop" [pipe]="column.pipe"></ngx-datatable-column>
</ngx-datatable>
<app-move-product #mp [selectedStock]="selectedStock" [callback]="searchStock"></app-move-product>