<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-body">
        <form #basicInfoForm="ngForm">

          <div class="mb-3 row">
            <label class="form-label text-dark" for="dateTime" class="col-md-3 col-form-label">Date <span class="text-danger">*</span></label>

            <div class="col-md-9">
              <div class="input-group">
                <input required ngModel name="dateTime" class="form-control" (click)="d.toggle()"
                  placeholder="yyyy-mm-dd" id="dateTime" [(ngModel)]="document.date" ngbDatepicker #d="ngbDatepicker"
                  [maxDate]="util.getNgbToday()" />
                <div class="input-group-append">
                  <button class="btn btn-secondary" (click)="d.toggle()" type="button">
                    <i class="fas fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="form-label text-dark" for="supplierOption" class="col-md-3 col-form-label"> {{ document.type === 'INVOICE'? 'Customer': 'Supplier' }} <span
                class="text-danger">*</span></label>
            <div class="col-md-9">
              <div class="input-group">
                <select required id="supplierOption" name="supplierOption" class="form-select"
                  [(ngModel)]="document.people" (ngModelChange)="peopleService.onPeopleSelect($event)">
                  <option hidden [ngValue]="undefined">
                    Please select
                  </option>
                  <ng-container  *ngIf="document.type == 'PURCHASE_ORDER'" >
                    <option [value]="supplier.value.id" *ngFor="let supplier of peopleService.supplierRecord | keyvalue">
                      {{ supplier.value.name }}
                    </option>
                  </ng-container>
                  <ng-container  *ngIf="document.type == 'INVOICE'" >
                    <option [value]="customer.value.id" *ngFor="let customer of peopleService.customerRecord | keyvalue">
                      {{ customer.value.name }}
                    </option>
                  </ng-container>
                  
                </select>
                <div class="input-group-append">
                  <button class="btn btn-secondary" [ngbTooltip]="'Add People'"
                    (click)="peopleModal.openPeopleModal(false)" type="button">
                    <i class="fas fa-user"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="document.type == 'PURCHASE_ORDER'" class="mb-3 row">
            <label class="form-label text-dark" for="placeOption" class="col-md-3 col-form-label">Place <span class="text-danger">*</span></label>
            <div class="col-md-9">
              <div class="input-group">
                <select required id="placeOption" name="placeOption" class="form-select" [(ngModel)]="defaultPlace"
                  (ngModelChange)="selectPlace($event)">
                  <option hidden [ngValue]="undefined">
                    Please select
                  </option>
                  <option *ngFor="let place of placeService.placeRecord | keyvalue" [value]="place.value.id">
                    {{ place.value.name }}
                  </option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-secondary" [ngbTooltip]="'Add Place'"
                    (click)="placeModal.openPlaceModal(false)" type="button">
                    <i class="fas fa-warehouse"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<app-save-people #peopleModal [callback]="peopleService.getAllSupplier"></app-save-people>

<app-save-place #placeModal [callback]="placeService.getAllPlace"> </app-save-place>
