<div class="container-fluid">
    <app-page-title title="Sell Product"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <aw-wizard [navBarLayout]="'large-empty'">
  
              <aw-wizard-step stepTitle="Basic Info">
                <ng-template awWizardStepSymbol>
                  <i class="fas fa-user fa-lg"></i>
                </ng-template>
  
                <app-basic-info #basicInfo [document]="invoice">
                </app-basic-info>
  
                <ul class="list-inline wizard mb-0">
                  <li class="next list-inline-item float-end">
                    <button [disabled]="!basicInfo.basicInfoForm.valid" class="btn btn-primary" awNextStep>Next</button>
                  </li>
                </ul>
              </aw-wizard-step>
  
              <aw-wizard-step stepTitle="Product Selection">
                <ng-template awWizardStepSymbol>
                  <i class="fas fa-wrench fa-lg"></i>
                </ng-template>
                <div class="card">
                  <div class="card-body">
  
                    <app-stock [viewMode]="'sell'" (stockSelected)="costingModal.openCostingModal($event)"></app-stock>
  
                  </div>
                </div>
                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button class="btn btn-primary" awPreviousStep>
                      Previous
                    </button>
                  </li>
                  <li class="next list-inline-item float-end">
                    <button class="btn btn-primary" awNextStep>Next</button>
                  </li>
                </ul>
              </aw-wizard-step>
  
              <aw-wizard-step stepTitle="Invoice">
                <ng-template awWizardStepSymbol>
                  <i class="fas fa-file-invoice fa-lg"></i>
                </ng-template>
  
                <app-document [mode]="invoice.type" #inv [document]="invoice"></app-document>
                <br>
                <ul class="list-inline wizard mb-0">
                  <ul class="list-inline wizard mb-0">
                    <li class="previous list-inline-item">
                      <button class="btn btn-primary" awPreviousStep>
                        Previous
                      </button>
                    </li>
                    <li class="next list-inline-item float-end">
                      <button class="btn btn-primary" awNextStep [disabled]="!inv.isValid()">Next</button>
                    </li>
                  </ul>
                </ul>
              </aw-wizard-step>
  
              <aw-wizard-step stepTitle="Receive Payment">
                <ng-template awWizardStepSymbol>
                  <i class="fas fa-money-check-alt fa-lg"></i>
                </ng-template>
                <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6">
                    <app-confirm-payment #acp [mode]="'to'" [inModal]="false" (paymentProcessed)="sell($event)">
                      <button class="btn btn-primary" (click)="acp.getPaymentData()"> Sell </button>
                    </app-confirm-payment>
                  </div>
                </div>
                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button class="btn btn-primary" awPreviousStep>
                      Previous
                    </button>
                  </li>
                </ul>
              </aw-wizard-step>
  
            </aw-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
<app-costing [mode]="'sell'" #costingModal (add)="addToSalesList($event)"></app-costing>
  