<div class="shadow bg-white hover-host">
  <div class="d-flex">

    <button [hidden]="!editPermission" type="button" (click)="cancel()"
      class="hover-target btn btn-sm btn-outline-danger rounded-circle my-auto ms-2">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>

    <div class="flex-grow-1 p-3">
      <div class="row">
        <div class="col-xxl-5">
          <div class="row large-screen-view">
            <div *ngIf="display('name')" [class]="'col-'+col('name')">
              <span>{{item.entity.name}}</span>
            </div>
            <div *ngIf="display('type')" [class]="'col-'+col('type')">
              <span>{{item.entity.type}}</span>
            </div>
            <div *ngIf="display('brand')" [class]="'col-'+col('brand')">
              <span>{{item.entity.brand}}</span>
            </div>
            <div *ngIf="display('country')" [class]="'col-'+col('country')">
              <span>{{item.entity.country}}</span>
            </div>
            <div *ngIf="display('size')" [class]="'col-'+col('size')">
              <span>{{item.entity.size}}</span>
            </div>
          </div>
          <div class="small-screen-view">
            <span>
              <strong>
                {{ getProductDetails() }}

              </strong>
            </span>
          </div>
        </div>
        <!-- <hr class="small-screen-view my-1" > -->
        <br class="small-screen-view">
        <div class="col-xxl-7">
          <form #fr="ngForm">

            <div class="row">
              <div [hidden]="!display('place')" [ngClass]="['col-'+ col('place'), editPermission?  'hover-border': '']">
                <div class="form-group">
                  <select [disabled]="!editPermission"
                    [ngClass]="['form-control p-0', placeModel.invalid && placeModel.touched? 'border border-danger': 'border-0']"
                    name="place" #placeModel="ngModel" [required]="display('place')" [(ngModel)]="item.place">
                    <option [ngValue]="null" disabled>Select place</option>
                    <option *ngFor="let place of placeRecord | keyvalue" [value]="place.value.id">
                      {{ place.value.name }}
                  </select>
                </div>
              </div>
              <div [hidden]="!display('cost')" [ngClass]="['col-'+ col('cost'), editPermission?  'hover-border': '']">
                <div [hidden]="!editMode" class="input-group">
                  <input [readonly]="!editPermission" #costInput #costModel="ngModel" [(ngModel)]="item.cost"
                    (focusout)="editMode=!editMode" required type="text" onlyNumber autocomplete="off"
                    (keydown.enter)="costInput.blur();quantityInput.focus()"
                    [ngClass]="['form-control p-0', costModel.invalid && costModel.touched? 'border border-danger': 'border-0']"
                    name="cost" [required]="display('cost')">
                </div>
                <div
                  [ngClass]="['full-text', costModel.invalid && costModel.touched? 'border border-danger': 'border-0', editPermission?  '' : 'bg-readonly']"
                  [hidden]="editMode" *ngIf="!editMode"
                  (click)="editPermission? editMode=!editMode : editMode=false ;delayedFocus(costInput)">
                  {{item?.cost | currency : 'BDT' : 'symbol-narrow': '1.2-2' : 'en-IN' |
                  placeholder: 'Enter cost'}}/unit
                </div>
              </div>
              <div [hidden]="!display('price')" [ngClass]="['col-'+ col('price'), editPermission?  'hover-border': '']">
                <div class="d-flex flex-column">
                  <div [hidden]="!editMode" class="input-group mb-1">
                    <input [readonly]="!editPermission" #priceInput #priceModel="ngModel" [(ngModel)]="item.price"
                      (focusout)="editMode=!editMode" [required]="display('price')" type="text" onlyNumber
                      autocomplete="off" (keydown.enter)="priceInput.blur();quantityInput.focus()"
                      [ngClass]="['form-control p-0', priceModel.invalid && priceModel.touched? 'border border-danger': 'border-0']"
                      name="price">
                  </div>
                  <span [hidden]="!editMode" class="mx-1 border border-info rounded-pill bg-info bg-soft">
                    Cost/{{item.entity.unitTxt}}:
                    {{item.entity?.cost?.toFixed(2)}}
                    (&#2547;)</span>
                </div>

                <div
                  [ngClass]="['full-text', priceModel.invalid && priceModel.touched? 'border border-danger': 'border-0',editPermission?  '' : 'bg-readonly']"
                  [hidden]="editMode" *ngIf="!editMode"
                  (click)="editPermission? editMode=!editMode : editMode=false ;delayedFocus(priceInput)">
                  {{item?.price | currency : 'BDT' : 'symbol-narrow': '1.2-2' : 'en-IN' |
                  placeholder: 'Enter price'}}/unit
                </div>
              </div>

              <div [hidden]="!display('quantity')"
                [ngClass]="['col-'+ col('quantity'), editPermission?  'hover-border': '']">
                <div class="d-flex flex-column">
                  <div class="d-flex mb-1">
                    <div class="flex-even">
                      <div class="form-group">
                        <input [readonly]="!editPermission" #quantityInput #quantityModel="ngModel"
                          name="quantityControl" type="text" (ngModelChange)="validateQuantity($event)"
                          [(ngModel)]="item.quantity" onlyNumber required autocomplete="off"
                          placeholder="Enter quantity" (keydown.enter)="quantityInput.blur();unitSelect.focus()"
                          [ngClass]="[quantityModel.invalid && quantityModel.touched? 'border border-danger': 'border-0',
                          'form-control py-0 px-1 full-text text-end']" name="quantity" required>
                      </div>
                    </div>
                    <div class="flex-even">
                      <div class="form-group">
                        <select [disabled]="!editPermission" #unitSelect #unitModel="ngModel" name="unitControl"
                          required
                          [ngClass]="['form-control p-0 full-text', unitModel.invalid && unitModel.touched? 'border border-danger': 'border-0']"
                          name="unit" id="place" [(ngModel)]="item.unit" (ngModelChange)="validateUnit($event)">
                          <option [ngValue]="null" disabled>Select unit</option>
                          <option *ngFor="let unit of unitService.unitData.unitList" [value]="unit.id">
                            {{ unit.name }}
                        </select>
                      </div>

                    </div>
                  </div>
                  <span
                    *ngIf="viewOptions.availableQty && editPermission && (quantityInput === document.activeElement || unitSelect === document.activeElement)"
                    type="button" class="border border-info rounded-pill bg-info bg-soft text-center">
                    Available: {{item.entity.quantity?.toFixed(2).concat(' ').concat(item.entity.unitTxt)}}
                  </span>
                </div>

              </div>

              <div [hidden]="!display('totalCost')"
                [ngClass]="['col-'+ col('totalCost'), editPermission?  'hover-border': '']">
                <div class="item-total">
                  <strong>
                    {{ (item.quantity * item.cost) | currency : 'BDT' : 'symbol-narrow': '1.2-2' :'en-IN'}}
                  </strong>
                </div>

              </div>
              <div [hidden]="!display('totalPrice')"
                [ngClass]="['col-'+ col('totalPrice'), editPermission?  'hover-border': '', viewOptions.theme.text]">
                <div class="item-total">
                  <strong>
                    {{ (item.quantity * item.price) | currency : 'BDT' : 'symbol-narrow': '1.2-2' :'en-IN'}}
                  </strong>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>